.sidebar {
  width: 100px;
  height: 100vh;
  background-color: #1e293b;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.sidebar-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
}

.sidebar-item {
  padding: 12px;
  background-color: #334155;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
  text-align: center;
}
